/*
   
   CIS 301 Final Part 1 Style Sheet
   Author: Coby Brown
   Date:   October 18th, 2023
   Filename: CIS 301.css

*/

/* HTML Styles*/

html {
    background-color: green;
}

/* Table Styles */

table {
    background-color: lightgreen;
    border: 1px solid black;
    border-collapse: collapse;
    width: 600px;
    margin: auto;
}

tr, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

/* Image Styles */

img {
    padding: 10px;
    border: 3px solid blue;
    width: 200px;
    height: 150px;
    display: block;
    margin: auto;
}

/* Caption Styles */	

caption {
    color: white;
}

/* Footer Styles*/

footer {
    text-align: center;
    color: white;
}
